body {
    height: 3000px;
}

.bottom-right {
    background-color: gray;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 320px;
    height: 180px;
}

.close-button {
    background-color: black;
    color: white;
    position: absolute;
    left: -20px;
    top: -20px;
    font-family: Arial, sans-serif;
    font-size: 19px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}