body {
    height: 3000px;
}




.right-sidebar {
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 105px;
}



.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modal {
    background-color: white;
    width: 300px;
    padding: 18px;
    border-radius: 6px;
}


.modal-title {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 10px;
}


.modal-content {
    font-family: Arial, sans-serif;
    margin-bottom: 14px;
}